<div *ngIf="showAlert" style="width: 35%;">
    <div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-red-500">
        <span class="text-xl inline-block mr-5 align-middle">
          <i class="fas fa-bell"></i>
        </span>
        <span class="inline-block align-middle mr-8">
          <b class="capitalize">Advertencia!</b> {{messageAlert}}
        </span>
        <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none" (click)="showAlert = false">
          <span>×</span>
        </button>
    </div>
</div>

<div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
        <div class="w-full lg:w-6/12 px-4">
        <div
            class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
        >
            <div class="rounded-t mb-0 px-6 py-6">
            <div class="text-center mb-3">
                <h6 class="text-blueGray-500 text-sm font-bold">Registrarse</h6>
            </div>
            <hr class="mt-6 border-b-1 border-blueGray-300" />
            </div>
            <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
            <form>
                <!--Nombre-->
                <div class="relative w-full mb-3">
                <label
                    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                    htmlFor="grid-password"
                >
                    Nombre
                </label>
                <input
                    type="text"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    placeholder="Nombre" [(ngModel)]="newUser.nombre" name="nombre"
                />
                </div>

                <!--Fecha de nacimiento-->
                <div class="relative w-full mb-3">
                <label
                    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                    htmlFor="grid-password"
                >
                    Fecha de nacimiento
                </label>
                <input
                    type="date"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    [(ngModel)]="newUser.fecha_nacimiento" name="fecha-nacimiento"
                />
                </div>

                <!--Telefono-->
                <div class="relative w-full mb-3">
                    <label
                        class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                        htmlFor="grid-password"
                    >
                        Telefono
                    </label>
                    <input
                        type="text"
                        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                        placeholder="Telefono" [(ngModel)]="newUser.numero" name="telefono"
                    />
                    </div>

                <!--Email-->
                <div class="relative w-full mb-3">
                <label
                    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                    htmlFor="grid-password"
                >
                    Email
                </label>
                <input
                    type="email"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    placeholder="Email" [(ngModel)]="newUser.correo" name="correo"
                />
                </div>

                <!--Usuario-->
                <div class="relative w-full mb-3">
                    <label
                        class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                        htmlFor="grid-password"
                    >
                        Usuario
                    </label>
                    <input
                        type="text"
                        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                        placeholder="Usuario" [(ngModel)]="newUser.usuario" name="usuario"
                    />
                    </div>

                <!--Contraseña-->
                <div class="relative w-full mb-3">
                <label
                    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                    htmlFor="grid-password"
                >
                    Contraseña
                </label>
                <input
                    type="password"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    placeholder="Contraseña" [(ngModel)]="newUser.contrasena" name="contrasena"
                />
                </div>

                <!--Confirmar contraseña-->
                <div class="relative w-full mb-3">
                <label
                    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                    htmlFor="grid-password"
                >
                    Confirmar Contraseña
                </label>
                <input
                    type="password"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    placeholder="Confirmar Contraseña" [(ngModel)]="newUser.contrasena2" name="contrasena2"
                />
                </div>

                <div>
                    <label class="inline-flex items-center cursor-pointer">
                        <input
                        id="customCheckLogin"
                        type="checkbox"
                        class="form-checkbox border-0 text-blueGray-700 ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded"
                        [(ngModel)]="politicas" name="politicas"
                        />
                        <span class="ml-2 text-sm font-semibold text-blueGray-600">
                        Estoy de acuerdo con las
                        <a href="javascript:void(0)" class="text-red-600">
                            Politicas de Privacidad
                        </a>
                        </span>
                    </label>
                </div>

                <div class="text-center mt-6">
                <button
                    class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                    type="button" (click)="createUser(this.newUser)" id="btnRegistrar"
                >
                    Crear Cuenta
                </button>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
</div>
