<footer
  class="pb-6"
  [ngClass]="absolute ? 'absolute w-full bottom-0 bg-blueGray-800' : 'relative'"
>
  <div class="container mx-auto px-4">
    <hr class="mb-6 border-b-1 border-blueGray-600" />
    <div class="flex flex-wrap items-center md:justify-center justify-center">
      <div class="w-full md:w-6/12 px-4">
        <div
          class="text-sm text-white font-semibold py-1 text-center md:text-left"
        >
          Copyright © {{ date }} Grupo 4 Analisis y Diseño de Sistemas 2 - Notus Angular by
          <a
            href="https://www.creative-tim.com?ref=na-footer-small"
            class="text-white hover:text-blueGray-300 text-sm font-semibold py-1"
          >
            Creative Tim
          </a>
        </div>
      </div>
      </div>
  </div>
</footer>
