<app-index-navbar></app-index-navbar>
<section class="header relative pt-16 items-center flex bg-blueGray-100 h-screen max-h-860-px">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <div class="pt-32 sm:pt-0">
        <h2>

        </h2>
        <h2 class="font-semibold text-4xl text-blueGray-600">
          AyDrive
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          Calificando Fase3, probando el ultimo commit con CI/CD Kubernetes, almacénelos y compártalos desde un único lugar seguro. 
          Almacene cada uno de sus archivos. Acceda a ellos en cualquier momento y lugar.
        </p>
        <div class="mt-12">
          <img
            src="assets/img/almacenar.png"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
  
  <img
    class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
    src="assets/img/pattern_angular.png"
    alt="..."
  />
  
</section>

<section class="mt-48 md:mt-40 pb-40 relative bg-blueGray-100">
  <div
    class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20"
    style="transform: translateZ(0)"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-blueGray-100 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>

  <div class="container mx-auto overflow-hidden pb-20">
    <div class="flex flex-wrap items-center">
      <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-48">
        <h3 class="text-3xl mb-2 font-semibold leading-normal">
          Organice los archivos de su equipo en un espacio compartido
        </h3>
        <p
          class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600"
        >
          Use la unidad compartida de AyDrive para almacenar el trabajo de su equipo 
          en un espacio seguro y fácil de administrar. 
        </p>
        <div class="block pb-6">
          <div class="mt-12">
            <img
              src="assets/img/upload.gif"
              alt="..."
            />
          </div>
        </div>
      </div>

      <div class="w-full md:w-5/12 px-4 mr-auto ml-auto mt-32">
        <div class="relative flex flex-col min-w-0 w-full mb-6 mt-48 md:mt-0">
          
          <img
            alt="..."
            src="assets/img/drive.jpg"
            class="w-full align-middle rounded-lg absolute shadow-lg max-w-210-px left-260-px -top-160-px"
          />
          <img
            alt="..."
            src="assets/img/folder.jpg"
            class="w-full align-middle rounded-lg absolute shadow-lg max-w-200-px left-30-px -top-225-px z-2"
          />
          <img
            alt="..."
            src="assets/img/files.jpg"
            class="w-full align-middle rounded-lg absolute shadow-2xl max-w-200-px -left-50-px top-25-px"
          />
          <img
            alt="..."
            src="assets/img/menufiles.png"
            class="w-full align-middle rounded absolute shadow-lg max-w-580-px -left-20-px top-210-px"
          />
          <img
            alt="..."
            src="assets/img/logodrive.png"
            class="w-full align-middle rounded absolute shadow-xl max-w-120-px left-195-px top-90-px"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-16 bg-blueGray-200 relative pt-32">
  <div
    class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20"
    style="transform: translateZ(0)"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-blueGray-200 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>
</section>
<app-footer></app-footer>
